# general
*.DS_Store

# build files
/target/
/bin/
/build/
/.gradle/

# bluemix config
manifest.yml

# vagrant files
/.vagrant/

# develop in eclipse and liberty without exporting meta files
.classpath
/.settings/
/.project
eclipse-libs/
wlp/
build-local.sh

# sample-data wikipedia
sample-data/wikipedia/node_modules
sample-data/wikipedia/npm-debug.log
sample-data/wikipedia/.env
